<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <center>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="display: inline-block">
      <a href="http://www.tsaweb.org"><p class="title">National TSA</p></a>

      <a href="http://www.tsaweb.org"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/96/Technology_Student_Association_Emblem.svg/1280px-Technology_Student_Association_Emblem.svg.png" class="img-responsive"></a>
    </div>
    </center>
  <center>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="display: inline-block">
    <a href="http://www.floridatsa.com"><p class="title">Florida TSA</p></a>
      <a href="http://www.floridatsa.com"><img class = "img-responsive" style = "width: 84%" src=<%= image_url "download.png"%>></a>
  </div>
  </center>
</div>