// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  background-color: #4CAF50;
  color: white;
}
.name{
  font-family: "Lobster";
  font-size: 30pt;
}
.desc{
  font-family: "Varela-Round";
  font-size: 20pt;
}