<div class="container">
  <p class="title">Mission Statement:</p>
  <p class="text">The Technology Student Association fosters personal growth, leadership, and opportunities in Science, Technology, Engineering, and Mathematics (STEM);
    members apply and integrate these concepts through co-curricular activities, competitions, and related programs.</p>
</div>
<div class="container">
  <p class="title">Motto:</p>
  <p class="text">Learning to lead in a technical world</p>
</div>
<div class="container">
  <p class="title">Creed:</p>
  <p class="text">I believe that Technology Education holds an important place in my life in the technical world. I believe there is a need for the development of good attitudes
  concerning work, tools, materials, experimentation, and processes of industry. Guided by my teachers, artisans from industry, and my own initiative, I will
  strive to do my best in making my school, community, state, and nation better places in which to live. I will accept the responsibilities that are mine.
  I will accept the theories that are supported by proper evidence. I will explore on my own for safer, more effective methods of working and living. I will strive
  to develop a cooperative attitude and will exercise tact and respect for other individuals. Through the work of my hands and mind, I will express my ideas to the
  best of my ability. I will make it my goal to do better each day the task before me, and to be steadfast in my belief in my God, and my fellow Americans.
  </p>
  <br>
  <center><p class="title"> Our chapter at TSA</p></center>
</div>
<div class="col-md-4 col-xs-12">
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/825ZQWiRNSI" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-4 col-xs-12">
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/2OUXHj3kf_o" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-4 col-xs-12">
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/WUbrmWTaF3g" frameborder="0" allowfullscreen></iframe>
</div>

