<h1><%= @user.first_name %></h1>
<ul>
<% @user.events.each do |ue| %>
    <li>
      <%= ue.name %> <%= link_to "Remove", {:action => 'destroy' ,:id => ue.id, :id2 => @user.id}, method: :delete %>
    </li>
<% end %>
</ul>